<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  {{>header}}
  <main>
    <h1>About the project</h1>
    <p>This is a static website built with Node.js and <a href="https://www.npmjs.com/package/handlebars">Handlebars</a>. It shows current weather for a given location. Click on this <a href="https://learning-nodejs-zeta.vercel.app/">link</a> to try the app or go to this <a href='https://github.com/BekzodIsakov/learning-nodejs/tree/main/weather-app-server'>Github repository</a> to see the code.</p>
  </main>
  {{>footer}}
</body>
</html>