<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/style.css">
  <script src="/app.js" module></script>
</head>

<body>
  {{>header}}
  <main>
    <h1>{{title}}</h1>
    <h3>{{subtitle}}</h3>

    <form id="forecast-form">
      <input type="search" id="forecast-input" required>
      <button type="submit" id="forecast-btn">Search</button>
      <div class="select-wrapper">
        <select name="units" id="units">
          <option value="m" selected>m</option>
          <option value="f">f</option>
        </select>
      </div>
    </form>

    <p id="forecast"></p>

    {{!-- <img src="/assets/image.jpg" alt="sample image"> --}}
  </main>
  {{>footer}}
</body>

</html>